
* {
margin: 0;
padding: 0;
border: none;
background-repeat: no-repeat;
list-style: none;
text-decoration: none;
}

.wrapper--page {
  display: grid;
  grid-template-columns: 1fr ;
  grid-auto-rows: 300px 400px 1fr 194px 460px ;
  grid-template-areas:
  "header"
  "section"
  "wrapper--goods"
  "article"
  "footer";
}


.header{
  grid-area: header;
  background-image: url("img/bkg--1.png");
}

.logo {
  position: fixed;
  margin: 1% auto auto 2%;
  opacity: 0.8;
}

.ul {
color: 0044CD;
font-size: 16px;
font-weight: 600;
margin: 12% auto auto 4%;
display: grid;
grid-row-gap: 16%;
}

.li {
  font-size: 14px;
  font-weight: 400;
}

.header--phone {
  text-decoration: none;
  cursor: pointer;
  color: black;
  font-weight: 400;
  font-size: 14px;
}

.footer--email--1 {
  font-size: 14px;
  font-weight: 400;
  color: black;

}

.motto {
  position: relative;
  margin-top: 4%;
}

.motto--link {
  position: absolute;
  left: 12%;
  color: #c2453c;
}

.section {
  grid-area: section ;
  background-image: url(img/bkg--4.png);
}

.h1 {
  margin: 6% auto auto 4% ;
  font-size: 20px;
  font-weight: 600;
  color: #c2453c;
}

.txt {
  margin: 8% auto auto 3% ;
  font-size: 14px;
  font-weight: 500;
}

.wrapper--goods {
  grid-area: wrapper--goods;
  background-color: #ebeff5;
}

.goods--h1 {
  font-weight: 500;
  font-size: 28px;
  text-align: center;
  margin-top: 2%;
}

.goods {
    margin: 2% 4%;
    display: grid;
    grid-column-gap: 2%;
    grid-row-gap: 4%;
    grid-template-columns:48% 48% ;
    grid-template-rows:44% 44%;
    grid-template-areas:
    "goods--1 goods--2"
    "goods--3 goods--4"
    "goods--5 goods--6";
}

.goods--1 {
  grid-area:  goods--1 ;
}

.goods--2 {
grid-area:  goods--2 ;
}

.goods--3 {
grid-area:  goods--3 ;
}

.goods--4 {
grid-area:  goods--4 ;
}

.goods--5 {
grid-area:  goods--5;
}

.goods-6 {
grid-area:  goods--6 ;
}


.goods--img--1 {
  width: 90%;
  height: 50%;
}

.goods--a {
  float: left;
  font-size: 18px;
  color: #c2453c;

}

.goods--dscrp {
font-size: 14px;
font-weight: 400;
}


.article {
  grid-area: article;
  background-image: url(img/bkg--5.png);
}

.txt--2 {
  margin: 2% auto 2% 200px;
  font-size: 12px;
  font-weight: 300;
  color: #c2453c;
}

.footer {
  grid-area: footer ;
  background-image: url(img/bkg--8.png)
}

.input-0 {
   font-weight: 999;
   letter-spacing: 2.33px;
   color:#161863;
   font-size: 20px;
 }

.footer--grid {
   margin-top: 22%;
   margin-left: 10%;
   display: grid;
   grid-column-gap: 6%;
   grid-row-gap: 12%;
   grid-template-columns: 44% 24%;
   grid-template-rows: 30% 20% 20% 40% 24%;
   grid-template-areas:
   "input-0 input-0"
   "input-1 input-2"
   "input-3 input-4"
   "input-5 input-5"
   "input-6 input-6";
 }

 .input-0 {

   grid-area: input-0;
 }

 .input-1 {
   grid-area: input-1;
 }
 .input-2 {
   grid-area: input-2;
 }
 .input-3 {
   grid-area: input-3;
 }
 .input-4 {
   grid-area: input-4;
 }

.footer--textarea {
  grid-area: input-5;

 }

 .input-6 {
   grid-area: input-6;
   grid-row:  1 / 3;
 }

 .footer--form, .footer--textarea {
   background-color:#161863;
  border: 0.2px solid #000247;
  color: #6163ba;
  font-weight: 600;
  font-size: 12px;
 }

 .button--footer {
   font-weight:bold;
   background-color: #6163ba;
   color: #FFFFFF;
   font-size: 14px;
   font-weight: 600;
   cursor: pointer;
   border: none;
 }

.footer--ul {
  color:  #161863;
  margin: auto auto 4% 4%;
  font-weight: 900;
  font-size: 16px;
  position: relative;
  top: 100px;
}

.footer--email--2 {
  color:  #161863;
  font-weight: 700;
  font-size: 14px;
}

/* @media screen and (min-width: 1920px) {
  .wrapper--page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    ". header ."
    ". section ."
    ". goods ."
    ". article ."
    ". footer .";
  } */


}
